<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Serilog*" />
      <package pattern="Microsoft.Extensions.DependencyInjection.Abstractions" />
      <package pattern="Microsoft.Extensions.Logging.Abstractions" />
      <package pattern="Npgsql" />
    </packageSource>
  </packageSourceMapping>
</configuration>
