<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Serilog*" />
      <package pattern="Npgsql*" />
      <package pattern="dbup*" />
      <package pattern="MediatR*" />
      <package pattern="AutoMapper*" />
      <package pattern="FluentValidation*" />
      <package pattern="RabbitMQ.*" />
      <package pattern="Azure.*" />
      <package pattern="MassTransit*" />
      <package pattern="Microsoft.AspNetCore.*" />
      <package pattern="Microsoft.EntityFrameworkCore*" />
      <package pattern="Microsoft.Extensions.*" />
      <package pattern="Microsoft.Azure.*" />
      <package pattern="Microsoft.Identity.*" />
      <package pattern="Microsoft.Bcl.*" />
      <package pattern="Microsoft.CodeCoverage" />
      <package pattern="Newtonsoft.Json" />
      <package pattern="OpenTelemetry*" />
      <package pattern="System.*" />
      <package pattern="Grpc.*" />
      <package pattern="Google.Protobuf" />
      <package pattern="Testcontainers*" />
      <package pattern="Docker.DotNet*" />
      <package pattern="SSH.NET" />
      <package pattern="SharpZipLib" />
      <package pattern="BouncyCastle*" />
      <package pattern="FluentAssertions" />
      <package pattern="xunit*" />
      <package pattern="Microsoft.NET.Test.Sdk" />
      <package pattern="Microsoft.TestPlatform*" />
      <package pattern="coverlet.*" />
      <package pattern="Microsoft.IdentityModel.*" />
      <package pattern="Microsoft.OpenApi" />
      <package pattern="Microsoft.Win32.*" />
      <package pattern="Microsoft.Build.*" />
      <package pattern="Microsoft.CodeAnalysis.*" />
      <package pattern="Humanizer.*" />
      <package pattern="Mono.*" />
      <package pattern="Microsoft.VisualStudio.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
