<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Serilog*" />
      <package pattern="Npgsql" />
      <package pattern="dbup*" />
      <package pattern="MediatR" />
      <package pattern="Microsoft.Extensions.Caching*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
